body {
  text-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: #00001a;

  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}





#logo img {
  height: 60px;
  

}

#brand {
  color: white;
  font-size: 30px;
  
  /* Ocupará el espacio restante */
  text-align: center;
  /* Centrar el texto */
}

#searchBar {
  
}

#searchBar input[type="text"] {
  padding: 8px;
  background-color: #aaa6ca;
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 200px;
  /* Ancho de la barra de búsqueda */
  box-sizing: border-box;
  /* Incluye el padding y el borde en el ancho */
  font-size: 14px;
  outline: none;
  /* Eliminar el borde de enfoque */
}

.center {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* Centra el elemento horizontalmente */
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  /* Añade relleno para separar el contenido */
  background-color: #00001a;
  /* Fondo blanco (opcional) */
  z-index: 1000;
 
}

#contenido {
  display: flex;
  width: 540px;
  margin: 0px auto;
}

@media (max-width: 1430px) {
  #contenido {
    margin: 0 0 0 auto;
    margin-right: 10px;
  }

  #barraLat {
    margin-top: 100px;
  }

}

#barraLat {
  position: fixed;
  text-align: center;
  background-color: #32314e;
  border-radius: 20px;
  height: 25%;
  width: 10%;
  min-height: 230px;
  min-width: 200px;
  margin-top: 125px;
  margin-left: 15%;
}

#barraLat a {
  text-decoration: none;
  color: white;
}



#post {
  margin-top: 125px;
  margin-bottom: -100px;
  color: white;
  border-radius: 20px;
  width: 500px;
  padding: 20px;
  /* Espacio interior */
  text-align: left;
  text-indent: 2%;
  overflow: hidden;
  /* Oculta el contenido que se desborde */
  overflow-y: auto;
  /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  background-image: linear-gradient(to bottom, #333179, #32314e);
  /* Degradado de color */
 
}

#eliminar-post {
  text-align: right;
}

#post h3 {
  color: #aaa6ca;
  padding-top: 10px;
  margin-bottom: -5px;
}

#date {
  color: #aaa6ca;
  padding-bottom: 10px;
  text-align: right;
  padding-right: 2%;
}

#accionesPost {
  display: flex;
  padding-left: 10%;
  padding-right: 60%;
  justify-content: space-between;
}

/* Perfil */
#perfil {
  margin-top: 100px;
}

#infoPerfil {
  border-radius: 15px;
  background: linear-gradient(135deg, #494880, #32314e);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

#infoPerfil:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#bioUsuario {
  margin-left: 10px;
  margin-right: 10px;
  color: #aaa6ca;
  text-align: center;
}

#datosPerfil a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  
}
#datosPerfil p {
  text-align: center;
  
}
#datosPerfil a {
  color: #d6d6d6;
}

#datosPerfil a:hover {
  color: #ecf0ef;
}

#contenedorNombreYSeguirUsuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#botonSeguirUsuario {
  font-size: medium;
  color: white;
  background-color: #8e44ad;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#botonSeguirUsuario:hover {
  background-color: #9b59b6;
  transform: scale(1.05);
}

/*Login*/
#login-form {
  background-image: linear-gradient(to bottom, #333179, #32314e);
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 99px 25px rgba(56, 39, 56, 0.77);
  -moz-box-shadow: 10px 10px 99px 25px rgba(56, 39, 56, 0.77);
  box-shadow: 10px 10px 99px 25px rgba(56, 39, 56, 0.77);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 100px;
}

#login-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

#login-username,
#login-password {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.usuarios{
  text-decoration: none;
  color: #ffffff;
}
#login-username:focus,
#login-password:focus {
  border-color: #9b59b6;
  outline: none;
}

#login-button {
  width: 100%;
  padding: 10px 15px;
  background: #9b59b6;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;

}

#login-button:hover {
  background: #8e44ad;
}

#login-error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* MODAL ESCRIBIR POST */

/* Estilos para el botón de cierre del modal */
.modal {
  position: fixed;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333179; /* Fondo oscuro semi-transparente */
  width: 600px; /* Ancho del modal */
  height: 370px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* Asegura que el modal esté encima de otros elementos */
}

#botonPublicarPost {
  font-size: medium;
  color: white;
  align-items: end;
  background-color: #8e44ad;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  height: 35px;
  width: 85px;
  cursor: pointer;
  
}
/* OPCIONES DEL PERFIL */
#opcionesContent {
  margin-top: 125px;
  left: 50%;
  background-color: #333179;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 500px;
  text-align: left;
  text-indent: 2%;
  overflow: hidden;
  overflow-y: auto;
  background-image: linear-gradient(to bottom, #333179, #32314e);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #aaa6ca;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: #8e44ad;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #9b59b6;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn-danger:hover {
  background-color: #c0392b;
}

/* PERFILES BUSCADOS */
.search-results-container {
  background-color: #333179;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 500px;
  text-align: left;
  text-indent: 2%;
  overflow: hidden;
  overflow-y: auto;
  background-image: linear-gradient(to bottom, #333179, #32314e);
}

#resultadoBusqueda {
  margin-top: 125px;
  color: white;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user {
  margin-bottom: 10px;
}

.user a {
  text-decoration: none;
  color: white;
}

.registrarse{

  color: #d6d6d6;
 
}

/* MODAL ESCRIBIR POST */

/* Estilos para el botón de cierre del modal */
.modal {
  position: fixed;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333179; /* Fondo oscuro semi-transparente */
  width: 600px; /* Ancho del modal */
  height: 370px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* Asegura que el modal esté encima de otros elementos */
}

#botonPublicarPost {
  font-size: medium;
  color: white;
  align-items: end;
  background-color: #8e44ad;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  height: 35px;
  width: 85px;
  cursor: pointer;
}

#contadorCaracteres {
  text-align: right;
}

#contenidoDelPost {
  width: 100%; /* Utiliza el ancho completo del contenedor */
  height: 200px; /* Establece la altura automáticamente según el contenido */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto */
  padding: 10px; /* Agrega un relleno alrededor del textarea */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Agrega un borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  resize: none; /* Deshabilita el redimensionamiento */
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #aaa;
  font-size: 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  z-index: 999; /* Coloca la capa por debajo del modal pero por encima del resto de los elementos */
}

#publicarPost {
  display: flex;
  justify-content: space-between;
}

.error{
  color: red;
}




